.header-container {
  height: 550px;
  background-image: url("https://images.unsplash.com/photo-1482784160316-6eb046863ece?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-position: center center;
  width: 100%;
  /* border: 2px solid red; */
  z-index: 0;
}


.header-container-child {
  height: 550px;
  background-color: grey;
  opacity: 0.6;
}

.header-image {
  /* max-width: 300px; */
  width: 100%;
  /* min-height: 300px; */
  /* max-height: 10%; */
  /* object-fit: cover; */
}
